/*公共部分样式写里*/
@import "./normalize.css";
/*:root  伪元素 用于获取根元素 html */
:root{
    /*提前定义变量*/
    --color-text:#666;
    /*高亮*/
    --color-height-text:#ff5777;
    /*导航的北京颜色*/
    --color-tint:#ff8198;
    --color-background:#fff;
    --font-size:14px;
    --line-height:1.5;
}
*，
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue',Helvetica,'pingFang sc','Hiragino Sans GB','Microsoft VaHe','微软雅黑',
     Arial，sans-serif;
    /*禁止用户鼠标在页面上选中文字或者图片*/
    user-select: none;
    /*webkit 是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节*/
    -webkit-tap-highlight-color: transparent;
    background: var(--color-background);
    color: var(--color-text);
    /* rem vw /vh   1vw等于视口宽度的1%。vh：1vh等于视口高度的1%。*/
    width: 100vw;
}
a{
    color: var(--color-text);
    text-decoration: none;
}
.clear-fix::after{
    clear: both;
    content: '';
    display: block;
    width: 0;
    height:0;
    visibility: hidden;
}
.clear-fix{
    zoom: 1;
}
.left{
    float: left;
}
.right{
    float: right;
}
